version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "only patch"        
        versions: ["8.1.x", "8.2.x"]  
     