version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "major-versions"
        update-types: ["version-update:semver-major"]  
      - dependency-name: "minor-versions"
        update-types: ["version-update:semver-minor"]     
     